<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productListing.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/productListing.js" defer></script>
</head>

<body>
	<div id="x">
		<script type="text/javascript">
			var splash =  document.createElement("img");
			splash.src = "https://github.com/webyteCSCE3513/photon-main/blob/main/logo.jpg?raw=true";
			splash.height = screen.availHeight;
			splash.width = screen.availWidth;
			console.log(splash.src);
			var div = document.getElementById('x');
			div.appendChild(splash);
			document.getElementById('splash').style.visibility="visible";

			setTimeout(() =>{
				document.getElementById('splash').style.visibility="hidden";
			}, 3000);
		</script>
	</div>
		
</body>

</html>