*{
	box-sizing: border-box;
}

.productsWrapper {
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
}

.products li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 3.5em;
	border-radius: 4px;
	text-align: left;
}

.products li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

a.button {
	text-decoration: none;
}

.row {
	margin-left:-5px;
	margin-right:-5px;
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	}

th, td {
	text-align: left;
	padding: 16px;
	color:black;
	}
	
tr:nth-child(even) {
	background-color: #f2f2f2;
}

.green{
	background-color: rgb(0, 173, 0);
	color: white;
}

.red{
	background-color: red;
	color: white;
}

.button{
	background-color: red;
	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	box-shadow: 0 9px #999;
}

.button:active{
	box-shadow: 0 5px #665;
	transform: translateY(4px);
}

.button2{
	background-color: rgb(0,173,0);
}

.StartGame{
	background-color: black;
	color: white;
	cursor: pointer;
}

.image{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

.fade-out{
	animation: fadeOut ease 3s;
	-webkit-animation: fadeOut ease 3s;
	-moz-animation: fadeOut ease 3s;
	-o-animation: fadeOut ease 3s;
	-ms-animation: fadeOut ease 3s;
}
@keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-moz-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-webkit-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-o-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-ms-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
  }
}